.header-navigation-links-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .header-navigation-links-navlink {
    text-decoration: none;
  }
  .header-navigation-links-navlink1 {
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media(max-width: 767px) {
    .header-navigation-links-nav {
      align-items: flex-start;
      flex-direction: column;
    }
    .header-navigation-links-navlink {
      margin-bottom: var(--dl-space-space-unit);
    }
    .header-navigation-links-navlink1 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
  }
  